<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-77f2721 elementor-hidden-mobile" data-id="77f2721" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-e29af4b elementor-section-height-full elementor-section-boxed elementor-section-height-default elementor-sticky elementor-sticky--effects elementor-sticky--active elementor-section--handles-inside" data-id="e29af4b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="position: fixed; width: 303.837px; margin-top: 0px; margin-bottom: 0px; top: 0px;">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5f3272e" data-id="5f3272e" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b6885e1 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="b6885e1" data-element_type="widget" data-widget_type="theme-site-logo.default">
        <div class="elementor-widget-container">
                                                        <a href="/index">
                    <img decoding="async" width="184" height="48" src="/wp-content/uploads/2022/06/logo.svg" class="attachment-full size-full astra-logo-svg" alt="" loading="lazy">								</a>
                                                    </div>
        </div>
        <div class="elementor-element elementor-element-630c3f1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="630c3f1" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
    <style>/*! elementor - v3.7.2 - 21-08-2022 */
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#2c2c2c;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);-ms-flex-negative:0;flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}.e-container>.elementor-widget-divider{width:var(--container-widget-width,100%);--flex-grow:var(--container-widget-flex-grow,0)}</style>		<div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-3fb55bd elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu" data-id="3fb55bd" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
        <div class="elementor-widget-container">
    <link rel="stylesheet" href="/wp-content/plugins/elementor-pro/assets/css/widget-nav-menu.min.css">			<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-slide">
        <ul id="menu-1-3fb55bd" class="elementor-nav-menu sm-vertical" data-smartmenus-id="16679906334395962"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link">Contact Us</a></li>
</ul>			</nav>
            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
</div>
    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
        <ul id="menu-2-3fb55bd" class="elementor-nav-menu sm-vertical" data-smartmenus-id="16679906334430623"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link" tabindex="-1"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link" tabindex="-1">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link" tabindex="-1">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link" tabindex="-1">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link" tabindex="-1">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link" tabindex="-1">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link" tabindex="-1">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link" tabindex="-1">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link" tabindex="-1">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link" tabindex="-1">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link" tabindex="-1">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link" tabindex="-1">Contact Us</a></li>
</ul>			</nav>
        </div>
        </div>
        <div class="elementor-element elementor-element-6a76f26 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6a76f26" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-ff5b655 elementor-widget elementor-widget-heading" data-id="ff5b655" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <style>/*! elementor - v3.7.2 - 21-08-2022 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h2 class="elementor-heading-title elementor-size-default">Yashaswi House, Lane No. 15, Prabhat Road, Pune - 411004<br>&nbsp;<br>
Ph: (020) 6749 2727</h2>		</div>
        </div>
        <div class="elementor-element elementor-element-4e448bb elementor-nav-menu--dropdown-none elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-nav-menu" data-id="4e448bb" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
        <div class="elementor-widget-container">
                <nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-slide">
        <ul id="menu-1-4e448bb" class="elementor-nav-menu sm-vertical" data-smartmenus-id="16679906334456948"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link">Contact Us</a></li>
</ul>			</nav>
            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
</div>
    
        </div>
        </div>
            </div>
</div>
                    </div>
</section><section class="elementor-section elementor-inner-section elementor-element elementor-element-e29af4b elementor-section-height-full elementor-section-boxed elementor-section-height-default elementor-sticky elementor-sticky__spacer" data-id="e29af4b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="visibility: hidden; transition: none 0s ease 0s; animation: 0s ease 0s 1 normal none running none;">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5f3272e" data-id="5f3272e" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b6885e1 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="b6885e1" data-element_type="widget" data-widget_type="theme-site-logo.default">
        <div class="elementor-widget-container">
                                                        <a href="/index">
                    <img decoding="async" width="184" height="48" src="/wp-content/uploads/2022/06/logo.svg" class="attachment-full size-full astra-logo-svg" alt="" loading="lazy">								</a>
                                                    </div>
        </div>
        <div class="elementor-element elementor-element-630c3f1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="630c3f1" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
    <style>/*! elementor - v3.7.2 - 21-08-2022 */
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#2c2c2c;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);-ms-flex-negative:0;flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}.e-container>.elementor-widget-divider{width:var(--container-widget-width,100%);--flex-grow:var(--container-widget-flex-grow,0)}</style>		<div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-3fb55bd elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu" data-id="3fb55bd" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
        <div class="elementor-widget-container">
    <link rel="stylesheet" href="/wp-content/plugins/elementor-pro/assets/css/widget-nav-menu.min.css">			<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-slide">
        <ul id="menu-1-3fb55bd" class="elementor-nav-menu sm-vertical"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link">Contact Us</a></li>
</ul>			</nav>
            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
</div>
    <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
        <ul id="menu-2-3fb55bd" class="elementor-nav-menu sm-vertical"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link" tabindex="-1"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link" tabindex="-1">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link" tabindex="-1">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link" tabindex="-1">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link" tabindex="-1">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link" tabindex="-1">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link" tabindex="-1">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link" tabindex="-1">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link" tabindex="-1">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link" tabindex="-1">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link" tabindex="-1">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link" tabindex="-1">Contact Us</a></li>
</ul>			</nav>
        </div>
        </div>
        <div class="elementor-element elementor-element-6a76f26 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6a76f26" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-ff5b655 elementor-widget elementor-widget-heading" data-id="ff5b655" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <style>/*! elementor - v3.7.2 - 21-08-2022 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h2 class="elementor-heading-title elementor-size-default">Yashaswi House, Lane No. 15, Prabhat Road, Pune - 411004<br>&nbsp;<br>
Ph: (020) 6749 2727</h2>		</div>
        </div>
        <div class="elementor-element elementor-element-4e448bb elementor-nav-menu--dropdown-none elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-nav-menu" data-id="4e448bb" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
        <div class="elementor-widget-container">
                <nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-slide">
        <ul id="menu-1-4e448bb" class="elementor-nav-menu sm-vertical"><li class="menu-item menu-item-type- menu-item-object- menu-item-3596"><a class="elementor-item menu-link"></a></li>
<li class="skillDevelopment menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-516 current_page_item menu-item-1535"><a href="index" aria-current="page" class="elementor-item elementor-item-active menu-link">Skill Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1420"><a href="/management-institutes" class="elementor-item menu-link">Management Institutes</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421"><a href="/government-projects" class="elementor-item menu-link">Government Projects</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1422"><a href="/talent-management" class="elementor-item menu-link">Talent Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423"><a href="/Contractual-Manpower" class="elementor-item menu-link">Contractual Manpower</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424"><a href="/renal-healthcare" class="elementor-item menu-link">Renal Healthcare</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="/training-development" class="elementor-item menu-link">Training &amp; Development</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495"><a href="/Staffing-Solution" class="elementor-item menu-link">Staffing Solution</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1425"><a href="/media" class="elementor-item menu-link">Media</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426"><a href="/careers" class="elementor-item menu-link">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1427"><a href="/contact-us" class="elementor-item menu-link">Contact Us</a></li>
</ul>			</nav>
            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
</div>
    
        </div>
        </div>
            </div>
</div>
                    </div>
</section>
            </div>
</div>